<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li><span class="footer-col-header">Contact</span></li>
            <li><a class="u-email" href="mailto:{{site.email}}">{{site.email}}</a></li>
          </ul>
        </div>

        <div class="footer-col footer-col-2">
          <ul class="info-list">
            <li><span class="footer-col-header"><a href="about">About</a></span></li>
          </ul>
        </div>

        <div class="footer-col footer-col-3">
          <p>Home to your favorite home for US-based GodotCon events.</p>
        </div>
      </div>
    </div>
  </footer>