.site-footer
{
	color: #737e8c;
	font-size: 1.4rem;

	margin: 2rem 10rem;
}

.footer-heading
{
	font-size: 2.0rem;
}

.footer-col-wrapper
{
	display: flex;
	flex-direction: revert-layer;
	width: 100%;
}

.footer-col
{
	text-decoration: none;
	list-style: none;
	flex: 1 1 calc(33.33% - 10px);
	text-align: center;
}

.footer-col ul li
{
	list-style: none;
}

.footer-col-header
{
	font-weight: bold;
}

.footer-donate-button
{
	background-image: linear-gradient(350deg, #6183ff, #47aaf5);
	margin: auto;
	margin-bottom: 5rem;
	width: fit-content;
	border-radius: 0.6rem;
}

.footer-donate-button a
{
	display: inline-flex;
	align-items: center;
	color: white;
	text-decoration: none;
	padding: 0.6rem 2.0rem;
}

.footer-donate-button:hover
{
	color: #fefefe;
	text-decoration: none;
	background-image: linear-gradient(350deg, #a970ff, #55a3f6);
}

@media screen and (max-width: 600px)
{
	.footer-col-wrapper
	{
		flex-direction: column;
	}

	.footer-col ul
	{
		padding: 0;
	}
}