<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
<body>
  <div class="container-main">
    <header class="site-header" role="banner">
      <nav class="navbar navbar-expand-md navbar-primary">
        <div class="container">
            <a class="site-title" rel="author" href="{{ "/" | absolute_url }}"><img src="{{ "assets/logos/SceneTreeLogoExploration.png" | absolute_url }}" class="navbar-logo" /></a>
            <button class="navbar-mobile-toggler js-show-toggle" data-toggle-menu-id="navbar-mobile">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"><a class="page-link" href="{{ "/about/" | absolute_url }}">About</a></span>
            </button>
            <ul class="navbar-nav">
              <li class="nav-item"><div class="trigger"><a class="page-link" href="{{ "/about/" | absolute_url }}">About</a></div></li>
            </ul>
          </div>
        </nav>
    </header>
  </div>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="hero header-size-large header-align-x-left header-align-y-center is-container-overlap">
        <div class="container">
          <div class="hero-content">
            <h1>SceneTree</h1>
            <p>Promoting open source game development education.</p>
          </div>
        </div>
        <div class="hero-bg" style="background-image: url('{{ "assets/banners/PXL_20250507_171728703.jpg" | absolute_url }}'); background-position: center;"></div>
        <div class="hero-overlay" style="background-color: rgba(10,10,10,0.3)"></div>
      </div>
      <div class="included-content">
        {{ content }}
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
